<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Stock</title>
    <!-- Custom styles for this template -->
</head>
<body>
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1>Stock Price Plotter</h1>
        <h3> Please specify a stock symbol to plot the closing price for the last 30 days e.g. type in AAPL (for
            Apple) </h3>
        <h3>
            <form method="POST" action="/produce_plot">
                {{ form.hidden_tag() }}
                {{ form.stock_ticker.label }} {{ form.stock_ticker(placeholder='AAPL', maxlength=5, size=8) }}
                <input type="submit" value="Go">
            </form>
        </h3>
    </div>
</div>
</div>
<h3>
    <tab>
        <a href="http://www.nasdaq.com/screening/companies-by-name.aspx" target="_blank">
            Look up a stock symbol on
            the NASDAQ.</a></tab>
</h3>
</div>
<h5><a href="https://www.about.me/mjboothaus" target="_blank">
    <tab></tab>
    Author: Michael J. Booth</a></h5>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>