<!doctype html>
<html lang="en">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='content-type' content='text/html; charset=utf-8'/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Price Plotter: {{ name|safe }}</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
</head>
<body>
<h3>
    <a href="/">Return to stock chooser page</a>
</h3>
<h3>Error: Stock price data for {{ name|safe }} currently unavailable. Check internet connection.</h3>
</body>
</html>